<div class="col-md-3 col-md-offset-1">
  <h3><%= t('headline.home.calendar') %></h3>
  <%= month_calendar do |date| %>
      <% report = @reports_user.find_by(date: date) %>
      <% if report %>
          <u>
            <%= link_to date.day, report_path(report), remote: true %>
          </u>
      <% else %>
          <%= date.day %>
      <% end %>
  <% end %>
</div>

<div class="col-md-7">
  <h3>日報の内容</h3>
  <table class="table">
    <tbody id="report-content">
    </tbody>
  </table>
</div>

<div class="col-md-10 col-md-offset-1">
  <h3><%= t('headline.home.new_report') %></h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="120"><%= t('activerecord.attributes.report.date') %></th>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('activerecord.attributes.report.title') %></th>
      <th width="120"><%= t('table_column.comment_num') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @reports_all %>
    </tbody>
  </table>
  <%= will_paginate @reports_all %>
</div>
