<div class="col-md-3 col-md-offset-1">
  <h3><%= t('headline.home.calendar') %></h3>
  <%= form_tag(root_path, method: :get) do %>
      <%= select_tag 'calendar_user_name', options_for_select(@users.pluck(:name)),
                     prompt: @calendar_user.name %>
      <%= submit_tag t('button.change') %>
  <% end %>

  <%= month_calendar do |date| %>
      <% report = @reports.find_by(user: @calendar_user, date: date) %>
      <% if report %>
          <u>
            <%= link_to date.day, report_path(report), remote: true %>
          </u>
      <% else %>
          <%= date.day %>
      <% end %>
  <% end %>
</div>

<div class="col-md-7" id="div-report-content">
  <h3><%= t('headline.home.report_content') %></h3>
  <table class="table">
    <tbody id="tbody-report-content">
    </tbody>
  </table>
</div>

<div class="col-md-10 col-md-offset-1">
  <h3><%= t('headline.home.new_report') %></h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th width="120"><%= t('activerecord.attributes.report.date') %></th>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <th><%= t('activerecord.attributes.report.title') %></th>
      <th width="120"><%= t('table_column.comment_num') %></th>
    </tr>
    </thead>
    <tbody>
    <%= render @reports %>
    </tbody>
  </table>
  <%= will_paginate @reports %>
</div>
