<% provide(:title, t('title.user.index')) %>
<div class="col-md-4 col-md-offset-1">
  <h3><%= t('title.user.index') %></h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <% if current_user.admin? %>
          <th></th>
          <th></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.name, user_path(user) %></td>
          <% if current_user.admin? %>
              <td><%= link_to t('link_text.edit'), edit_user_path(user) %></td>
              <td><%= link_to t('link_text.delete'), user_path(user), method: 'delete',
                              data: { confirm: t('confirm.delete') } %></td>
          <% end %>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>


