<% provide(:title, @report.title) %>
<div class="col-md-10 col-md-offset-1">
  <h3><%= t('headline.report.show.this') %></h3>
  <table class="table">
    <tbody>
    <tr>
      <th width="120"><%= t('activerecord.attributes.report.title') %></th>
      <td><%= @report.title %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.user.name') %></th>
      <td><%= @report.user.name %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.report.date') %></th>
      <td><%= @report.date %></td>
    </tr>
    <tr>
      <th><%= t('activerecord.attributes.report.content') %></th>
      <td><%= @report.content %></td>
    </tr>
    </tbody>
  </table>

  <% if @report.user == current_user %>
      <p><%= link_to t('link_text.edit'), edit_report_path %>
      | <%= link_to t('link_text.delete'), report_path, method: :delete,
                     data: { confirm: t('confirm.delete') } %></p>
  <% end %>

  <h3><%= t('headline.report.show.comments') %></h3>
  <table class="table">
    <tbody id="tbody-comment">
    <%= render 'shared/comments' %>
    </tbody>
  </table>

  <section class="comment_form">
    <%= render 'shared/comment_form' %>
  </section>
</div>
