<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "日報システム", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <% if logged_in? %>
            <% if current_user.admin? %>
                <li><%= link_to "ユーザー一覧", users_path %></li>
                <li><%= link_to "新規ユーザー作成", new_user_path %></li>
            <% end %>
            <li><%= link_to "日報作成", '#' %></li>
            <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>